.caja{
    background-color: steelblue;
    /* width: 200px; */
    height: 200px;
    /* max-width: 50%; */
    /* overflow: scroll; */
    /* min-width: 100px; */
    /* max-height: 500px; */
    /* min-height: 100px; */
    width: 200px;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}